.none { filter: none; }
.protanopia { filter: sepia(100%) saturate(100%) hue-rotate(-20deg);}
.deuteranopia { filter: sepia(50%) saturate(100%) hue-rotate(-10deg); }
.tritanopia { filter: sepia(80%) saturate(100%) hue-rotate(90deg); }

body {
    font-family: "Rye", serif;
    letter-spacing: 50;
    background: #968787;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background: #640b0b;
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;

}

.site-name {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: bold;
    color: white;
}

nav button {
    position: absolute;
    left: 93%;
    transform: translateY(-93%);
    top: 40px;
    border: none;
    cursor: grab;
    background: #968787;
    color: white;
    border-radius: 35px;
}

.content {
    position: relative;
    top: -30pt;
    display: none;
    width: 550px;
    height: 600px;
    margin: 70px auto;
    padding: 10px;
    background: rgb(135, 71, 71);
    border-radius: 35px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 35px;
}
audio {
    padding: auto;
}